[submodule "postgresqltuner"]
	path = TOOLS/postgresql/postgresqltuner
	url = https://github.com/jfcoz/postgresqltuner.git
[submodule "CybroAddons"]
	path = 13.0/SUBMODULES/CybrosysAddons
	url = https://github.com/CybroOdoo/CybroAddons.git
	branch = 13.0
[submodule "CybroHRMS"]
	path = 13.0/SUBMODULES/CybroHRMS
	url = https://github.com/CybroOdoo/OpenHRMS.git
	branch = 13.0
[submodule "click-odoo-contrib"]
	path = TOOLS/odoo/click-odoo-contrib
	url = https://github.com/acsone/click-odoo-contrib.git
[submodule "click-odoo"]
	path = TOOLS/odoo/click-odoo
	url = https://github.com/acsone/click-odoo.git
